body {
    background-color: rgb(231, 225, 214);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

header {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px dotted darkslateblue;
}

h1 {
    color: #1050aa;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.2em;
}

#para1 {
    font-weight: bold;
}

.experience, .education {
    border: 2px dashed red;
    margin: 10px 0px 10px 0px;
}

a[href="https://github.com"]:hover {
    color: crimson;
}

a[href="https://github.com"]::after {
    content: url(../images/GitHub-Mark-32px.png);
    width: 20px;
    height: 20px;
}

h2::first-letter {
    font-size: 3rem;
}